body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.4em;
}

.App {
  display: flex;
}

.poke-list {
  width: 300px;
  max-height: 700px;
  overflow-x: scroll;
}

.poke-list ul li {
  cursor: pointer;
  transition: 0.2s;
}

.poke-list ul li:hover {
  background-color: #eee;
}